[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Type=Application
Terminal=false
Exec=/home/elijah/Adonis Lifestyle System/adonis_lifestyle_tracker/dist/adonis_lifestyle_tracker
Name=Adonis Lifestyle Tracker
