[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/elijah/PycharmProjects/adonis_lifestyle_tracker/dist/adonis_lifestyle_nutrition_tracker
Name=Adonis Lifestyle Nutrition Tracker
Icon=/home/elijah/PycharmProjects/adonis_lifestyle_tracker/adonis_lifestyle_system_logo.png
Name[en_US]=Adonis Lifestyle Nutrition Tracker
