[Desktop Entry]
Name=Adonis Lifestyle Exercise Tracker
Version=1.0
Type=Application
Terminal=false
StartupWMClass=adonis-lifestyle-exercise-tracker
Exec=/home/elijah/PycharmProjects/adonis_lifestyle_tracker/dist/adonis_lifestyle_exercise_tracker
Icon=/home/elijah/PycharmProjects/adonis_lifestyle_tracker/adonis_lifestyle_system_logo.png
