-e git+ssh://git@github.com/esmith1412/adonis_lifestyle_tracker.git@bf5464a6f45e0722736f24168448defc3f7a46fb#egg=adonis_lifestyle_tracker
altgraph==0.17.4
click==8.1.8
packaging==24.2
pyasn1==0.6.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
PySimpleGUI==5.0.7
rsa==4.9
setuptools==75.6.0
