[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/elijah/Programming/Python/projects/adonis_lifestyle_tracker/dist/tracker/tracker
Name=Adonis Lifestyle Tracker
